
<div class="container">
  <header>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </header>
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" src={{worker.photo}}/>
          <div class="active"></div>
        </div>
        <h4 class="name">{{worker.firstname}}</h4>
        <p class="info">{{worker.speciality}}</p>
        <p class="info">{{worker.email}}</p>
        <div class="stats row">
          <div class="stat col-xs-4">
            <p class="number-stat">{{worker.number_of_messages}}</p>
            <p class="desc-stat">number of messages</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">{{worker.rate}}</p>
            <p class="desc-stat">Rate</p>
          </div>
          <div class="stat col-xs-4" >
            <p class="number-stat">{{worker.price}}</p>
            <p class="desc-stat">Price</p>
          </div>
        </div>
        <p class="desc">{{worker.description}}</p>
        <div class="social">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
          <i class="fa fa-tumblr-square" aria-hidden="true"></i>
        </div>
      </div>
      <div class="right col-lg-8">
        <mat-tab-group>
          <mat-tab label="General Info"> 
            <div class="row gallery" style="width: 100%;">
              <mat-card class="worker-profile-card">
                <mat-card-header>
                  <div mat-card-avatar class="profile-avatar" style="background-image: url('{{ worker.avatarUrl }}');"></div>
                  <mat-card-title>{{ worker.name }}</mat-card-title>
                  <mat-card-subtitle>{{ worker.jobTitle }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <mat-list>
                    <!-- Email -->
                    <mat-divider></mat-divider>
            
                      <mat-icon matListIcon>email</mat-icon>
                      <div class="form-container">
                        <mat-form-field appearance="fill" class="input-field">
                          <mat-label>Email</mat-label>
                          <input matInput [value]="worker.email" disabled />
                        </mat-form-field>
                      </div>
                
                      <mat-divider></mat-divider>
            
                    <!-- Phone Number -->
                 
                      <mat-icon matListIcon>phone</mat-icon>
                      <div class="form-container">
                        <mat-form-field appearance="fill" class="input-field">
                          <mat-label>Phone</mat-label>
                          <input matInput [value]="worker.num_tel" disabled />
                        </mat-form-field>
                      </div>
                    
            
                    <mat-divider></mat-divider>
            
                    <!-- Certifications -->
                    <div *ngFor="let cert of worker.certification" class="list-item">
                      <mat-icon matListIcon>school</mat-icon>
                      <div class="form-container">
                        <mat-form-field appearance="fill" class="input-field">
                          <mat-label>Certification Title</mat-label>
                          <input matInput [value]="cert.title" disabled />
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="input-field">
                          <mat-label>Certification URL</mat-label>
                          <input matInput [value]="cert.url" disabled />
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-list>
                </mat-card-content>
              </mat-card>
            </div>
            
            
            
             </mat-tab>
          <mat-tab label="Photos">
            <div class="carousel-container">
          
           
              <div >
                <p>Preview Photos:</p>
                <owl-carousel-o [options]="carouselOptions">
                  <ng-container *ngFor="let photo of visiblePhotos">
                    <ng-template carouselSlide>
                      <img
                        [src]="photo"
                        alt="Uploaded Photo"
                        style="width: 100%; height: auto;"
                      />
                    
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
            
          
     
          </mat-tab>
          <mat-tab label="Location"> Content 3 </mat-tab>
        </mat-tab-group>
        
        
 
</div>
