button{
    margin:0;
}
.nav-link{
    font-family:poppins;
    font-size: medium;
}
.navbar .rounded-circle {
    border: 2px solid white;
  }
.navbar-brand{
    color:#007bff;
    font-weight: 800;
}
nav{
    background-color: red;
}