.gradient-header {
    background: linear-gradient(45deg, #007bff, #00025d);
    height: 700px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
   

  }
  .gradient-header h1 {
    padding-top: 20%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  @media (min-width: 100px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width:100%;
    }
}
h1{
  font-size: 3rem;
}
.search-bar-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-field {
  width: 200px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.search-bar-container{
  background-color: aliceblue;
  padding:5%;
  border-radius: 15px; 
}
.search-bar-container{
  margin:0;
  width: 100%;
}
.mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align .ng-tns-c508571215-0 {
  height: 0;
  overflow: hidden; /* Ensures any child content is hidden */
} 
.mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align.ng-tns-c508571215-2 {
  height: 0;
  overflow: hidden; /* Ensures any child content is hidden */
}
.container{
  padding-top: 3%;
  align-items: center;
}