
<app-nav></app-nav>
<div class="container p-0 m-0 ">
    <header class="gradient-header d-flex justify-content-center align-items-center">
        
      
        <!-- Background image -->
        <div
          class=" text-center bg-image "
          style="
            
            height: 400px;
          "
        >
          <div class="mask" >
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">WELCOME TO SNEI3I</h1>
                <h4 class="mb-3">Find the best worker for the job</h4>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
                >FIND The SNEI3I</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>
      <button mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
      <mat-card appearance="outlined">
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
      <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
      
      
      <!-- Copyright 2024 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at https://angular.io/license -->
      
    <router-outlet></router-outlet>
    
</div>

<app-footer></app-footer>

