.gradient-header {
    background: linear-gradient(45deg, #007bff, #00025d);
    height: 500px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .gradient-header h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1500px;
    }
}