
<app-nav></app-nav>
<div class="container p-0 m-0 ">
    <header class="gradient-header">
        
      
        <!-- Background image -->
        <div
          class=" text-center bg-image "
          style="
            
            height: 400px;
          "
        >
          <div class="mask" >
            <div class="">
              <div class="text-white">
                <h1 class="mb-3">WELCOME TO SNEI3I</h1>
                <h4 class="mb-3">Find the best worker for the job</h4>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
                >FIND The SNEI3I</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>
      
      
    <router-outlet></router-outlet>
    
</div>

<app-footer></app-footer>

